.donate-button {
    display: block;
    width: 50%;
    margin: 10px auto 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #0056b3;
}

#donationModal h3 {
    color: #17a2b8;
    margin-bottom: 20px;
    font-size: 20px;
}

#donationModal input[type="number"] {
    width: 80%;
    padding: 12px;
    margin: 10px 0 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#donationModal .btn-donate {
    width: fit-content;
    padding: 12px;
    margin: 10px auto;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    transition: background 0.3s;
}

#donationModal .btn-donate:hover {
    background-color: #218838;
}

#donationModal .qr-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#donationModal .qr-container img {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: none;
}

#donationModal #confirmBtn {
    margin-top: 20px;
    background-color: #007BFF;
}

#donationModal #confirmBtn:hover {
    background-color: #0056b3;
}