.donate-button {
    display: block;
    width: 50%;
    margin: 10px auto 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #0056b3;
}

#donationModal .modal-content {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: center;
}

#donationModal input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#donationModal .btn-donate {
    width: fit-content;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

#donationModal .btn-donate:hover {
    background-color: #218838;
}

#donationModal .qr-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#donationModal .qr-container img {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: none;
}

#donationModal #confirmBtn {
    margin-top: 20px;
    background-color: #007BFF;
    width: 100%;
}

#donationModal #confirmBtn:hover {
    background-color: #0056b3;
}